/* Webfont: Caress */@font-face {
    font-family: 'Caress';
    src: url('Caress.woff2') format('woff2'), /* Modern Browsers */
         url('Caress.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

