/* Webfont: Caress */@font-face {
    font-family: 'Caress';
    src: url('Caress.eot'); /* IE9 Compat Modes */
    src: url('Caress.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Caress.woff') format('woff'), /* Modern Browsers */
         url('Caress.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

